{% load static %}
<ul class="insta_contents infinite-container">
{% with rand=instagram_list|random_int %}
    {% for ig_item in instagram_list %}
        {% if forloop.counter0 == rand %}
                <li class="infinite-item">
                    {{ SSP_TAG_POST|safe }}
                </li>
        {% endif %}
        {% if ig_item.type == 'CAROUSEL_ALBUM' %}
            <li class="insta_clip_multiple infinite-item">
                <a class="ic1"><img src="{{ ig_item.thumbnail }}"></a>
{#                <a class="ic1"><img src="{% static '/images/ic_clipboard.png' %}"></a>#}
            </li>
        {% elif ig_item.type == 'VIDEO' %}
            <li class="instaclip__movie infinite-item">
                <a class="ic2"><img src="{{ ig_item.thumbnail }}"></a>
{#                <a class="ic2"><img src="{% static '/images/ic_camera.png' %}"></a>#}
            </li>
        {% else %}
             <li class="infinite-item">
                <a href="{{ ig_item.url }}"><img src="{{ ig_item.thumbnail }}" alt=""></a>
            </li>
        {% endif %}

    {% endfor %}
{% endwith %}
</ul>
{% if instagram_list %}
    {% if instagram_list.has_next %}
        <a class="infinite-more-link" href="?page={{ instagram_list.next_page_number }}">More</a>
    {% endif %}
{% endif %}
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
</script>


