* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Hannari", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 62.5%;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: .05em;
  color: #333;
  z-index: 1;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Hannari", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
}

p {
  font-family: "KozukaGothicPrN-R", Arial, sans-serif;
  letter-spacing: 0;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #fb9bac !important;
}


a:hover img {
  opacity: .8;
}

img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}

table td {
  font-family: "KozukaGothicPrN-R", Arial, sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
  cursor: text;
}

main {
  background-color: #e2ded4;
  display: block;
}

main .container {
  background: url(../images/bg_body.jpg) bottom no-repeat;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.mg-bt-img {
  margin-bottom: 0 !important;
}

.pd-left {
  padding-left: 0;
}

.pd-bt {
  padding-bottom: 165px;
}

.pd-bt60 {
  padding-bottom: 60px;
}

.pd-bt65 {
  padding-bottom: 65px;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

@media screen and (max-width: 767px) {

  a[href^="tel:"] {
    pointer-events: auto;
    cursor: pointer;
  }

  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  main {
    padding: 30px 0 0;
  }

  .mg-bt-img {
    margin-bottom: 30px !important;
  }

  .pd-bt {
    padding-bottom: 80px;
  }
}

.green {
  color: #527c68;
}

.orange {
  color: #e18a50;
}

.bg_white {
  background: #fff;
}

.text__underline {
  text-decoration: underline;
}

.mw_370 img {
  max-width: 370px !important;
}

.temp {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .temp {
    margin-top: 80px;
  }
.iframe {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  height:100%;
}
.iframe iframe {
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
}

@media screen and (max-width: 600px) {
  .temp {
    margin-top: 60px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: flex;
}

.row__wrap {
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.row__center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.row__mid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.row__bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}

.row__cen_mid {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.row__bet_mid {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.row__bet_bot {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end;
}

.col-3 {
  width: 23.5%;
}

.col-4 {
  width: 31.6666667%;
}

.col-5 {
  width: 48.75%;
}

.col-6 {
  width: 48.75%;
}

.col-8 {
  width: 65.83%;
}

.col-9 {
  width: 74%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {

  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .container_about {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .col-4,
  .col-6,
  .col-8 {
    flex-basis: 100%;
  }

  .col-3,
  .col-5,
  .col-9 {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.btn {
  display: block;
  text-align: center;
}

.btn span {
  position: relative;
  display: block;
}

.btn__leanpro {
  max-width: 270px;
  margin: 0 auto;
  padding: 20px 10px;
  background: #234d6a;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 3px 9px 3px rgba(149, 177, 200, 0.6);
}

.btn__leanpro2 {
  max-width: 270px;
  margin: 0 auto;
  padding: 20px 10px;
  background: #f73859;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border-radius: 20px;
}


.btn__leanpro.font__lg {
  max-width: 180px;
  padding: 12px 10px;
  font-size: 1.8rem;
}

.btn__back {
  width: 9px;
  height: 20px;
}

.btn__more__work {
  max-width: 270px;
  margin: 0 auto;
  padding: 11px 10px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 3px 9px 3px rgba(149, 177, 200, 0.6);
}

.btn__more__work span {
  display: inline-block;
  text-align: left;
  padding-left: 40px;
}

.btn__more__work span:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/ic_bag.png) center no-repeat;
  background-size: cover;
  width: 23px;
  height: 34px;
}

.btn__register {
  max-width: 270px;
  margin: 0 auto;
  padding: 18px 10px;
  background: #fff;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  border-radius: 15px;
  box-shadow: 1px 3px 9px 3px rgba(149, 177, 200, 0.6);
}

.btn__regis__sns,
.btn__regis__email {
  max-width: 270px;
  margin: 0 auto;
  padding: 16px 10px;
  background: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  border-radius: 15px;
  box-shadow: 1px 3px 9px 3px rgba(149, 177, 200, 0.6);
  margin-bottom: 35px;
}

.btn__regis__gg {
  max-width: 255px;
  margin: 0 auto;
  padding: 18px 20px;
  background: #234d6a;
  font-size: 1.6rem;
  color: #fff;
  box-shadow: 1px 3px 4px 2px rgba(35, 77, 106, 0.5);
  margin-bottom: 18px;
  position: relative;
}

.btn__regis__gg span {
  padding-left: 50px;
  text-align: left;
}

.btn__regis__gg span:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  background: url(../images/ic_google2.png) center no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
}

.btn__regis__fb {
  max-width: 255px;
  margin: 0 auto;
  padding: 18px 20px;
  background: #234d6a;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 18px;
  box-shadow: 1px 3px 4px 2px rgba(35, 77, 106, 0.5);
}

.btn__regis__fb span {
  padding-left: 50px;
  text-align: left;
}

.btn__regis__fb span:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0.5em;
  background: url(../images/ic_facebook2.png) center no-repeat;
  background-size: cover;
  width: 11px;
  height: 26px;
}

.btn__regis__tw {
  max-width: 255px;
  margin: 0 auto;
  padding: 18px 20px;
  background: #234d6a;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 18px;
  box-shadow: 1px 3px 4px 2px rgba(35, 77, 106, 0.5);
}

.btn__regis__tw span {
  padding-left: 50px;
  text-align: left;
}

.btn__regis__tw span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/ic_twitter3.png) center no-repeat;
  background-size: cover;
  width: 23px;
  height: 20px;
}

.btn__regis__line {
  max-width: 255px;
  margin: 0 auto;
  padding: 18px 20px;
  background: #234d6a;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 18px;
  box-shadow: 1px 3px 9px 3px rgba(149, 177, 200, 0.6);
}

.btn__regis__line span {
  padding-left: 50px;
  text-align: left;
}

.btn__regis__line span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/ic_line2.png) center no-repeat;
  background-size: cover;
  width: 25px;
  height: 24px;
}

.btn__regis__group {
  margin-bottom: 36px;
}

.btn__influencer {
  max-width: 120px;
  margin: 0 auto;
  padding: 3px 3px;
  font-size: 1rem;
  color: #000;
  background: url(../images/border_img.png) center no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.btn__influencer span {
  background: #fff;
  padding: 3px 5px;
  border-radius: 5px;
}

.btn__follow {
  font-size: 1.2rem;
  padding: 4px 12px;
  background: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 4px rgba(149, 177, 200, 0.4);
}

.btn__follow.active {
  background: #000;
  color: #fff;
}

.btn__share {
  max-width: 40px;
  border-radius: 50%;
  box-shadow: 1px 3px 9px 3px rgba(149, 177, 200, 0.6);
}

.btn__relate {
  max-width: 137px;
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: 1px 3px 9px 3px rgba(149, 177, 200, 0.6);
}

.btn__relate span {
  font-size: 1rem;
  position: relative;
  padding-left: 25px;
}

.btn__relate span:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  background: url(../images/ic_twitter2.png) center no-repeat;
  background-size: cover;
  width: 13px;
  height: 10px;
}

.btn_gg .img_hover,
.btn_fb .img_hover,
.btn_tw .img_hover,
.btn_li .img_hover {
  display: none;
}

.btn_gg:hover img,
.btn_fb:hover img,
.btn_tw:hover img,
.btn_li:hover img,
.btn_gg:focus img,
.btn_fb:focus img,
.btn_tw:focus img,
.btn_li:focus img {
  display: none;
}

.btn_gg:hover img.img_hover,
.btn_fb:hover img.img_hover,
.btn_tw:hover img.img_hover,
.btn_li:hover img.img_hover,
.btn_gg:focus img.img_hover,
.btn_fb:focus img.img_hover,
.btn_tw:focus img.img_hover,
.btn_li:focus img.img_hover {
  display: block;
  opacity: 1;
}

/* ----- Menu ----- */
.menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.menu__tab {
  position: relative;
  padding: 0;
  background: #fbfbfb;
  z-index: 2;
  border-top: 0.8px solid #f2f2f2;
}

.menu__wrap {
  display: -webkit-box;
  display: flex;
  align-items: center;
}

.menu__item {
  text-align: center;
}

.menu__item img {
  margin: 0 auto;
}

.menu__item span {
  display: block;
  font-size: .8rem;
}

.menu__item>a {
  display: block;
  padding: 28px 0;
  position: relative;
}
.menu__item a:hover {
  color: #f73859 !important;
}

.menu__item .show {
  display: block;
}

.menu__item .hide {
  display: none;
}

.menu__item.active .show {
  display: none;
}

.menu__item.active .hide {
  display: block;
}

.menu__tab1 {
  flex-basis: 18%;
}

.menu__tab1 img {
  max-width: 22px;
}

.menu__tab1 a {
  padding-left: 15px;
}

.menu__tab2 {
  flex-basis: 20%;
}

.menu__tab2 img {
  max-width: 25px;
}

.menu__tab3 {
  flex-basis: 20%;
}

.menu__tab3 img {
  max-width: 25px;
}

.menu__tab4 {
  flex-basis: 18%;
}

.menu__tab4 img {
  max-width: 25px;
}

.menu__tab4 a {
  padding-right: 15px;
}

.menu__tabicon {
  flex-basis: 24%;
}

.menu__tabicon img {
  max-width: 50px;
}

.menu__tabicon a {
  padding: 10px 0 20px;
}

.location {
  display: inline-block;
  padding: 8px 17px 8px 12px;
  background: #e5e5e5;
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 3px 3px 2px rgba(146, 157, 178, 0.4);
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
}

.location .select__box {
  color: #000;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  width: 102px;
  height: 23px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 8px 1px rgba(146, 157, 178, 0.4);
  position: relative;
  font-size: 1.2rem;
}

.location .select__box:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  background: url(../images/ic_arrow.png) center no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  z-index: 1;
}

.location .selected {
  background-color: #d2d2d2;
}

.location .select__box .select__options {
  width: 102px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 25px;
  border-radius: 5px;
  box-shadow: 0px 3px 8px 1px rgba(146, 157, 178, 0.4);
  display: none;
}

.location .select__box .select__options div {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 5px 10px;
  border-bottom: 1px solid #d2d2d2;
}

.location .select__current {
  position: relative;
  z-index: 20;
}

.location .select__box .select__options.show__lang {
  display: block;
}

.share {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.share__top {
  padding: 20px 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #999;
}

.share__top div {
  margin-right: 10px;
  font-weight: 600;
}

.share__top div:last-child {
  margin-right: 0;
}

.share__btns {
  padding: 0 20px 80px;
}

.share__login {
  margin-bottom: 40px;
}
.share__login2 {
  margin-bottom: 40px;
}

.share__login a:hover {
  color: #7b93a3 !important;
}
.share__login2 a:hover {
  color: #fb9bac !important;
}

.share ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.share ul li {
  flex-basis: calc(100% / 4);
  margin-right: 15px;
  text-align: center;
  font-size: 1rem;
}

.share ul li:last-child {
  margin-right: 0;
}

.share ul li img {
  margin-bottom: 5px;
}

.share__popup {
  position: absolute;
  bottom: 12%;
  background: #fff;
  border-radius: 25px 25px 0 0;
}

.share .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.open {
  display: block;
}

.show__menu {
  display: inline-block;
}

.hide__menu {
  display: none;
}

nav {
  position: absolute;
  bottom: 80px;
  right: 10px;
}

nav ul {
  background: #fff;
  padding: 8px 0;
  border: 1px solid #999;
}

nav a {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  position: relative;
  padding-left: 20px;
}

nav a:before {
  content: '';
  position: absolute;
}

nav li {
  padding: 10px;
}

nav li:first-child a:before {
  top: 0;
  left: 0;
  background: url(../images/ic_01.png) center no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
}

nav li:nth-child(2) a:before {
  top: 0;
  left: 0;
  background: url(../images/ic_02.png) center no-repeat;
  background-size: cover;
  width: 10px;
  height: 15px;
}

nav li:nth-child(3) a:before {
  top: 0;
  left: 0;
  background: url(../images/ic_03.png) center no-repeat;
  background-size: cover;
  width: 10px;
  height: 15px;
}

nav li:nth-child(4) a:before {
  top: 0;
  left: 0;
  background: url(../images/ic_04.png) center no-repeat;
  background-size: cover;
  width: 14px;
  height: 11px;
}

nav li:nth-child(5) a:before {
  top: 0;
  left: 0;
  background: url(../images/ic_05.png) center no-repeat;
  background-size: cover;
  width: 11px;
  height: 13px;
}

nav li:nth-child(6) a:before {
  top: -3px;
  left: 0;
  background: url(../images/ic_06.png) center no-repeat;
  background-size: cover;
  width: 11px;
  height: 15px;
}

.btn__favorite,
.btn_follow {
  border: none;
  background: none;
  padding: 0;
}

.btn__favorite img {
  max-width: 20px;
  display: block;
}

.btn__favorite img.hide,
.btn__favorite.active img.show,
.btn_follow img.hide,
.btn_follow.active img.show {
  display: none;
}

.btn__favorite.active img.hide,
.btn_follow.active img.hide {
  display: block;
  opacity: 1;
}

.avatar img {
  width:128px;
  height: 128px;
  object-fit: cover;
  border-radius:50%;
}

/*# sourceMappingURL=site_structure.css.map */

/*　20200115 修正箇所　*/

.container_about img {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.centerimg {
  font-size:0;
  margin-bottom:15px;
  text-align:center;
  margin-bottom: 80px;
}
.centerimg > * nth-child(2n + 1) {
  margin-left:0;
}
.centerimg img {
  max-width:100%;
}

.centerimg p {
  max-width:100%;
}

@media screen and (min-width: 1200px) {

  .container {
   max-width: 1200px;
  }

.centerimg > * {
  width:20%;
  margin-bottom:15px;
  margin-left:3%;
  margin-right:1%;
  display:inline-block;
  font-size:12px;
}
.centerimg p {
  font-size: 1.5rem;
  width: 90%;
  display: inline-block;
}
}


@media screen and (max-width: 1200px) {

  .container_about {
    width: 100%;
    margin: 0 auto;
  }
.centerimg > * {
  width:25%;
  margin-bottom:15px;
  margin-left:3%;
  display:inline-block;
  font-size:12px;
}
.centerimg p {
  font-size: 1.5rem;
  width: 85%;
  display: inline-block;
}
}


@media screen and (max-width: 767px) {


.centerimg > * {
  width: 40%;
  margin-bottom:15px;
  margin-left:2%;
  display:inline-block;
  font-size:12px;
}
.centerimg p {
  font-size: 1.2rem;
  width: 75%;
  display: inline-block;
}
}

/* 20200117変更箇所 */

.abouttext {
  display: table;
  margin: 0 auto;
  width: 80%;
}
