{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>利用規約│LEAN!─SNSを使っている方、インフルエンサー・タレント必見。あなたのオフィシャルプロフィールが作れるシステムです</title>
    <meta name="description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="LEAN!利用規約"/>
    <meta property="og:description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。"/>
    <meta property="og:image" content="{{ OGP_URL }}">
    <meta property="og:image:alt" content="LEAN!ogp">
    <meta property="og:url" content="https://lea-n.com/signup/" />
    <meta property="og:site_name" content="LEAN!"/>
    <!-- facebook -->
    <meta property="article:author" content="https://www.facebook.com/leanjapan/">
    <meta property="fb:app_id" content="680771545664378"/>
    <meta property="fb:admins" content="680771545664378"/>
    <!-- twitter card -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@japan_lean"/>
    <meta name="twitter:url" content="https://lea-n.com/signup/" />
    <meta name="twitter:title" content="LEAN!利用規約"/>
    <meta name="twitter:description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。"/>
    <meta name="twitter:image:src" content="{{ OGP_URL }}"/>
    <meta name="twitter:site" content="LEAN!"/>
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="{% static '/css/site_structure.css' %}">
    <link rel="stylesheet" href="{% static '/css/site_content.css' %}">
    <link rel="stylesheet" href="{% static '/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/slick.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% include "parts/ga.html" with GA_TAG=GA_TAG %}
</head>

<body class="listtype">
<div class="header__top">
    <div class="container">
        <!--<ul class="tabs">
          <li class="tab__link" data-tab="tab-1"><a href="listofusers_menuclose.html">PICK UP</a></li>
          <li class="tab__link current" data-tab="tab-2">新着</li>
          <li class="tab__link" data-tab="tab-3"><a href="listofusers_all.html">ALL</a></li>
        </ul>-->
        <div class="number-members">
            <div class="number-members-wrapp">
                <div class="text">
                    LEAN!利用規約
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="text__top">
        </div>
        <div class="text__bot">
            <p style="margin:30px 0;">
                この利用規約（以下、「本規約」といいます。）は、株式会社リーンジャパン（以下、「当社」といいます。）が提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。LEAN!アカウントを作成する場合、またはLEAN!をご利用になる場合は、登録ユーザー様の皆さま（以下、「ユーザー様」といいます。）には、本規約に同意していただくことになります。</p>

            <div class="text__top">
                第1条（適用）<br/>
            </div>
            1 本規約は、ユーザー様と当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。<br/>
            2 当社は本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。<br/>
            3 本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなき限り、個別規定の規定が優先されるものとします。<br/>
            <p style="margin:30px 0;">
            <div class="text__top">
                第2条（利用登録）<br/>
            </div>
            1 本サービスにおいては、登録希望者が本規約に同意の上、当社の定める方法によって利用登録を申請し、当社がこれを承認することによって、利用登録が完了するものとします。<br/>
            2 当社は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。<br/>
            (1) 利用登録の申請に際して虚偽の事項を届け出た場合<br/>
            (2) 本規約に違反したことがある者からの申請である場合<br/>
            (3) その他、当社が利用登録を相当でないと判断した場合<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第3条（ユーザー様IDおよびパスワードの管理）<br/>
            </div>
            1
            ユーザー様は、自己の責任において、本サービスのユーザー様がログインに使用したソーシャルアカウント、またはログインIDおよびパスワード（以下、「ユーザー様ID」といいます。）を善良なる管理者として適切に管理するものとします。<br/>
            2
            ユーザー様は、いかなる場合にも、ユーザー様IDを第三者に譲渡または貸与し、もしくは第三者と共用することはできません。当社は、ユーザー様IDが登録情報と一致してログインされた場合には、そのユーザー様IDを登録しているユーザー様自身による利用とみなします。<br/>
            3 ユーザー様ID及びパスワードが第三者によって使用されたことによって生じた損害は、当社に故意又は重大な過失がある場合を除き、当社は一切の責任を負わないものとします。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第4条（禁止事項）<br/>
            </div>
            ユーザー様は、本サービスを利用するにあたり、以下の行為を行わないものとし、当社は事前の通知なしに以下の行為を行ったユーザー様のオフィシャルプロフィールページのアカウント、およびユーザー様ページに配信している広告を停止することができるものとします。<br/>
            (1) 法令または公序良俗に違反する行為<br/>
            (2) 第三者の著作権、商標権ほか知的財産権を侵害する行為<br/>
            (3) 当社、ほかのユーザー様、またはその他第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為<br/>
            (4) 本サービスによって得られた情報を商業的に利用する行為<br/>
            (5) 当社のサービスの運営を妨害するおそれのある行為<br/>
            (6) 不正アクセスをし、またはこれを試みる行為<br/>
            (7)
            ユーザー様自身または第三者と共謀して報酬を得るため、広告の表示を不正に行ったり、広告の表示・クリックを不正に誘発させたり、表示・クリック報酬が設定された広告に対して自ら関与して連続かつ大量の表示・クリック行為をすること。不当に報酬を得ようとする行為、または、当社にそのように見なされる行為<br/>
            (8) 広告に関して電子メールでのスパム行為、掲示板への書きこみ等による宣伝行為、またそれ以外の方法・手段による第三者への迷惑行為に該当する宣伝行為をすること。<br/>
            (9) LEAN!に掲載する広告に関して、報酬を目的としてクリック行為を強要・嘆願する言葉、および閲覧者に誤解を与えるような言葉をオフィシャルプロフィールページおよびそれ以外のメディアに記述すること。<br/>
            (10) 他のユーザー様に関する個人情報等を収集または蓄積する行為<br/>
            (11) 不正な目的を持って本サービスを利用する行為<br/>
            (12) 本サービスの他のユーザー様またはその他の第三者に不利益、損害、不快感を与える行為<br/>
            (13) 他のユーザー様に成りすます行為<br/>
            (14) 当社が許諾しない本サービス上での宣伝、広告、勧誘、または営業行為<br/>
            (15) 面識のない異性との出会いを目的とした行為<br/>
            (16) 当社のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為<br/>
            (17) その他、当社が不適切と判断する行為<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第5条（罰則について）<br/>
            </div>
            禁止事項を行なっていると当社が判断した場合、当該ユーザー様には以下罰則が適用されます。<br/>
            (1) 禁止行為があった月の報酬及び、その時点での未払い金の支払いの停止<br/>
            (2) 法的措置、または刑事訴訟<br/>
            (3) 理由の如何を問わず、事前の通知、催告なく会員資格の剥奪、広告機能の停止<br/>
            (4) 強制退会、また、今後一切のLEAN!における会員活動禁止<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第6条（報酬のお支払いについて）
                <br/>
            </div>
            1 当社は規定のユーザー情報登録ページにてご登録された口座情報を基に報酬を支払います。ただし、支払金額が5000円以下の場合、翌月に持ち越し、5000円を超えた時点で累積の残額を支払うものとします。<br/>
            2 支払いの際には、支払い事務手数料300円を引いた上でお支払いいたします。<br/>
            3
            金融機関口座に関する申し込み事項に不備または虚偽があるために報酬の支払いが行えない場合、当社は、当該ユーザー様に当該事項の通知を行うものとします。当該届出事項に不備があるためその通知が到着しない、またはユーザー様からその通知に対する返信が当社に到達しない場合は、報酬は支払われないものとします。当社が振込み手続きを行った報酬が送金組戻しとなった場合の組戻手数料(消費税別８８０円。)は、ユーザー様が負担するものとします。<br/>
            4 広告主または広告主からの委託を受けた当社は、ユーザー様への事前の通知なく、独自の裁量により、前項の広告報酬発生条件を、随時、変更することができるものとし、ユーザー様はこれを了承するものとします。<br/>
            5 ユーザー様に支払われる本サービスの利用により発生した報酬については、当社が広告主に請求します。<br/>
            6 ユーザー様は、当社に対し、ユーザー様の広告主に対する報酬の請求権限を付与するものとし、当社が広告主から支払われた報酬を受領することに同意します。<br/>
            7 ユーザー様は直接広告主に報酬の請求を行うことはできず、報酬の支払いに関しては内容の如何に関わらず全て当社に対し問い合わせを行うものとします。<br/>
            8 当社は、ユーザー様に対し、広告主から受領した報酬を支払います。<br/>
            9
            報酬は、毎月月末に計算され、提携しているすべての広告主サイトからの報酬の合計額を翌々月の５日(土日祝日または金融機関休業日の場合は、翌営業日)に当社からユーザー様が指定する金融機関口座へ支払うものとします。また、報酬の税務処理は、税法等の法令に従うものとします。<br/>
            10
            ユーザー様が本規約に基づく契約の他に当社と契約を締結している場合で、当該契約に基づく当社への債務の弁済が1回でも遅延した場合、当社は、双方の債務の弁済期の到来の前後にかかわりなく、当社がユーザー様に対して負担する一切の金銭債務と、当該契約に基づきユーザー様が当社に対して負担する金銭債務とを、対当額で相殺することができるものとし、ユーザー様はこれを承諾するものとします。<br/>
            11 本項3条の理由により半年間未払いとなっている報酬については、ユーザー様に支払われないものとします。<br/>
            12 ユーザー様が本規約に違反した場合、未払いとなっている報酬および登録解除後に発生した報酬は支払われないものとします。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第7条（本サービスの提供の停止等）<br/>
            </div>
            1 当社は、以下のいずれかの事由があると判断した場合、ユーザー様に事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。<br/>
            (1) 本サービスにかかるコンピュータシステムの保守点検または更新を行う場合<br/>
            (2) 地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合<br/>
            (3) コンピュータまたは通信回線等が事故により停止した場合<br/>
            (4) その他、当社が本サービスの提供が困難と判断した場合<br/>
            2 当社は、本サービスの提供の停止または中断により、ユーザー様または第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第8条（利用制限および登録抹消）<br/>
            </div>
            1 当社は、ユーザー様が以下のいずれかに該当する場合には、事前の通知なく、ユーザー様に対して、本サービスの全部もしくは一部の利用を制限し、またはユーザー様としての登録を抹消することができるものとします。<br/>
            (1) 本規約のいずれかの条項に違反した場合<br/>
            (2) 登録事項に虚偽の事実があることが判明した場合<br/>
            (3) 料金等の支払債務の不履行があった場合<br/>
            (4) 当社からの連絡に対し、一定期間返答がない場合<br/>
            (5) 本サービスについて、最終の利用から一定期間利用がない場合<br/>
            (6) その他、当社が本サービスの利用を適当でないと判断した場合<br/>
            2 当社は、本条に基づき当社が行った行為によりユーザー様に生じた損害について、一切の責任を負わないものとします。。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第9条（退会）<br/>
            </div>
            ユーザー様は、当社の定める退会手続により、本サービスから退会できるものとします。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第10条（保証の否認および免責事項）<br/>
            </div>
            1
            当社は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。<br/>
            2
            当社は、本サービスに起因してユーザー様に生じたあらゆる損害について一切の責任を負いません。ただし、本サービスに関する当社とユーザー様との間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合、この免責規定は適用されません。<br/>
            3
            前項ただし書に定める場合であっても、当社は、当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザー様に生じた損害のうち特別な事情から生じた損害（当社またはユーザー様が損害発生につき予見し、または予見し得た場合を含みます。）について一切の責任を負いません。<br/>
            4 当社は、本サービスに関して、ユーザー様と他のユーザー様または第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第11条（サービス内容の変更等）<br/>
            </div>
            当社は、ユーザー様に通知することなく、本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし、これによってユーザー様に生じた損害について一切の責任を負いません。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第12条（利用規約の変更）<br/>
            </div>
            当社は、必要と判断した場合には、ユーザー様に通知することなくいつでも本規約を変更することができるものとします。なお、本規約の変更後、本サービスの利用を開始した場合には、当該ユーザー様は変更後の規約に同意したものとみなします。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第13条（個人情報の取扱い）<br/>
            </div>
            当社は、本サービスの利用によって取得する個人情報については、当社「プライバシーポリシー」に従い適切に取り扱うものとします。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第14条（通知または連絡）<br/>
            </div>
            ユーザー様と当社との間の通知または連絡は、当社の定める方法によって行うものとします。当社は、ユーザー様から、当社が別途定める方式に従った変更届け出がない限り、現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い、これらは、発信時にユーザー様へ到達したものとみなします。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第15条（権利義務の譲渡の禁止）<br/>
            </div>
            ユーザー様は、当社の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                第16条（準拠法・裁判管轄）<br/>
            </div>
            1 本規約の解釈にあたっては、日本法を準拠法とします。<br/>
            2 本サービスに関して紛争が生じた場合には、東京地方裁判所を専属的合意管轄とします。<br/>
            </p>
            以上


            </p>
        </div>
    </div>
</div>


{% include 'parts/menu.html' %}
<script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/js/lightbox.min.js' %}"></script>
<script src="{% static '/js/slick.min.js' %}"></script>
<script src="{% static '/js/lightbox-video.js' %}"></script>
<script src="{% static '/js/clipboard-polyfill.js' %}"></script>
<script src="{% static '/js/clipboard.min.js' %}"></script>
<script src="{% static '/js/index.js' %}"></script>
<script src="{% static '/js/common.js' %}{{ RES_VER }}"></script>

</body>

</html>
