{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>運営会社│LEAN!─SNSを使っている方、インフルエンサー・タレント必見。あなたのオフィシャルプロフィールが作れるシステムです</title>
  <meta name="description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="LEAN!運営会社" />
  <meta property="og:description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。" />
  <meta property="og:image" content="https://leanjapan.jp/i/images/ogp.png">
  <meta property="og:image:alt" content="LEAN!ogp">
  <meta property="og:url" content="https://leanjapan.jp/i/signup.html" />
  <meta property="og:site_name" content="LEAN!" />
  <!-- facebook -->
  <meta property="article:author" content="https://www.facebook.com/leanjapan/">
  <meta property="fb:app_id" content="680771545664378" />
  <meta property="fb:admins" content="680771545664378" />
  <!-- twitter card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@japan_lean" />
  <meta name="twitter:url" content="https://leanjapan.jp/i/signup.html" />
  <meta name="twitter:title" content="LEAN!運営会社"/>
  <meta name="twitter:description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。" />
  <meta name="twitter:image:src" content="https://leanjapan.jp/i/images/ogp.png" />
  <meta name="twitter:site" content="LEAN!" />
  <link rel="stylesheet" href="{% static 'new_static/css/site_structure_about.css' %}">
  <link rel="stylesheet" href="{% static 'new_static/css/site_content_about.css' %}">
  <link rel="stylesheet" href="{% static 'new_static/css/lightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'new_static/css/style_about.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'new_static/css/slick.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'new_static/css/slick-theme.css' %}" />

  <script src="{% static 'new_static/js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'new_static/js/slick.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'new_static/js/func_slick.js' %}"></script>

</head>

<body class="listtype">
  <div class="maxwidth">
    <div class="content">
      <div class="container_about laenpro-banner">
        <div class="box"></div>
        <div class="number-members">
          <div class="number-members-wrapp">
            <div class="text">
              LEAN!運営会社
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="container">
        <div class="text__bot">
          <div class="text__bot">
            <ul class="list__number">
              <li><span style="color:#234d6a;font-weight:bold;">社名：</span><br>株式会社リーンジャパン<br >(LEAN JAPAN inc.)</li>
              <li><span style="color:#234d6a;font-weight:bold;">設立：</span><br >2018年8月29日<br >資本金4100万円(潜在株式含む)</li>
              <li><span style="color:#234d6a;font-weight:bold;">本社：</span><br >〒107-0052<br >東京都港区赤坂6－12－17</li>
              <li><span style="color:#234d6a;font-weight:bold;">銀座オフィス：</span><br >〒104-0061<br >東京都中央区銀座8-17-5AIOS銀座802</li>
              <li><span style="color:#234d6a;font-weight:bold;">役員：</span><br >代表取締役<br >浦野直哉</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
</div>

</div>
<script src="{% static 'new_static/js/lightbox.min.js' %}"></script>
<script src="{% static 'new_static/js/slick.min.js' %}"></script>
<script src="{% static 'new_static/js/lightbox-video.js' %}"></script>
<script src="{% static 'new_static/js/index.js' %}"></script>

</body>

</html>
