{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>お問い合わせ│LEAN!─SNSをやっている方、インフルエンサー、タレント必見。あなたのオフィシャルプロフィールが作れるシステム</title>
  <meta name="description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="LEAN!お問い合わせ" />
  <meta property="og:description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。" />
  <meta property="og:image" content="https://leanjapan.jp/i/images/ogp.png">
  <meta property="og:image:alt" content="LEAN!ogp">
  <meta property="og:url" content="https://leanjapan.jp/i/signup.html" />
  <meta property="og:site_name" content="LEAN!" />
  <!-- facebook -->
  <meta property="article:author" content="https://www.facebook.com/leanjapan/">
  <meta property="fb:app_id" content="680771545664378" />
  <meta property="fb:admins" content="680771545664378" />
  <!-- twitter card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@japan_lean" />
  <meta name="twitter:url" content="https://leanjapan.jp/i/signup.html" />
  <meta name="twitter:title" content="LEAN!お問い合わせ"/>
  <meta name="twitter:description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。" />
  <meta name="twitter:image:src" content="https://leanjapan.jp/i/images/ogp.png" />
  <meta name="twitter:site" content="LEAN!" />
  <link rel="stylesheet" href="{% static 'new_static/css/site_structure_about.css' %}">
  <link rel="stylesheet" href="{% static 'new_static/css/site_content_about.css' %}">
  <link rel="stylesheet" href="{% static 'new_static/css/lightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'new_static/css/style_about.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'new_static/css/slick.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'new_static/css/slick-theme.css' %}" />

  <script src="{% static 'new_static/js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'new_static/js/slick.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'new_static/js/func_slick.js' %}"></script>
  <style>

  table, th, td {
    border-collapse: collapse;
    border: 1px solid #999;
    line-height: 1.5;
  }

  table.type06 th {
    width: 150px;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    background: #eee;
    color: #787878;
  }
  table.type06 td {
    width: 350px;
    padding: 10px;
  }

  tr:nth-child(even) {
    background: #fff;
  }

  </style>
</head>

<body class="listtype">
  <div class="maxwidth">
    <div class="content">
      <div class="container_about laenpro-banner">
        <div class="box"></div>
        <div class="number-members">
          <div class="number-members-wrapp">
            <div class="text">
              お問い合わせ
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="container">
        <div class="text__bot">
          <p>&nbsp;</p>
          <div class="article__box2">
            <div class="article__detail article__box__info2">
              <div class="edit">
                <p class="editname">お問い合わせ</p>
                <p class="textdes">※ご意見・ご要望・不具合などございましたらお気軽にお問い合わせください。<br >※退会時の申請もこのフォームからお願い致します。<br >
                  ※ご連絡用メールアドレスは正確にご記入ください。</p>
                  <p>&nbsp;</p>
                  <span style="color:#234d6a;font-weight:bold;">お問い合わせの種類</span>

                  <form action="{% url 'web:about_verification' %}" method="post">
                      {% csrf_token %}
                    <p>
                      <select name="ab_name">
                        <option value="お仕事">お仕事について</option>
                        <option value="ご意見・ご要望・不具合">ご意見・ご要望・不具合</option>
                        <option value="退会">退会</option>
                      </select>
                    </p>
                    <p>&nbsp;</p>
                    <span style="color:#234d6a;font-weight:bold;">ご連絡のメールアドレス</span>
                    <p>
                      <input type="email" name="ab_email">
                    </p>
                    <p>&nbsp;</p>
                    <span style="color:#234d6a;font-weight:bold;">お問い合わせ内容</span>
                    <p>
                      <textarea  required id="kanso" name="ab_desc" cols="40" rows="4" maxlength="20" placeholder="ご意見・ご感想をご記入ください"></textarea>
                    </p>
                    <div class="contact">
                      <input type="submit" value="送信内容を確認する" class="btn-edit3">
                      <p>&nbsp;</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script src="{% static 'new_static/js/lightbox.min.js' %}"></script>
          <script src="{% static 'new_static/js/slick.min.js' %}"></script>
          <script src="{% static 'new_static/js/lightbox-video.js' %}"></script>
          <script src="{% static 'new_static/js/index.js' %}"></script>

        </body>

        </html>
