{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登録ありがとうございます。│LEAN!─SNSを使っている方、インフルエンサー・タレント必見。あなたのオフィシャルプロフィールが作れるシステムです</title>
    <meta name="description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="LEAN!登録ありがとうございます。" />
    <meta property="og:description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。" />
    <meta property="og:image" content="https://leanjapan.jp/i/images/ogp.png">
    <meta property="og:image:alt" content="LEAN!ogp">
    <meta property="og:url" content="https://leanjapan.jp/i/signup.html" />
    <meta property="og:site_name" content="LEAN!" />
    <!-- facebook -->
    <meta property="article:author" content="https://www.facebook.com/leanjapan/">
    <meta property="fb:app_id" content="680771545664378" />
    <meta property="fb:admins" content="680771545664378" />
    <!-- twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@japan_lean" />
    <meta name="twitter:url" content="https://leanjapan.jp/i/signup.html" />
    <meta name="twitter:title" content="LEAN!登録ありがとうございます。"/>
    <meta name="twitter:description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。" />
    <meta name="twitter:image:src" content="https://leanjapan.jp/i/images/ogp.png" />
    <meta name="twitter:site" content="LEAN!" />
    <link rel="stylesheet" href="{% static 'new_static/css/site_structure_about.css' %}">
    <link rel="stylesheet" href="{% static 'new_static/css/site_content_about.css' %}">
    <link rel="stylesheet" href="{% static 'new_static/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'new_static/css/style_about.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'new_static/css/slick.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'new_static/css/slick-theme.css' %}" />

        <script src="{% static 'new_static/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'new_static/js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'new_static/js/func_slick.js' %}"></script>
</head>

<body class="listtype">
<div class="maxwidth">
          <div class="content">
            <div class="container_about laenpro-banner">
<div class="box"></div>
            <div class="number-members">
                <div class="number-members-wrapp">
                  <div class="text">
                        登録完了
                  </div>
                </div>
              </div>
              </div>
              <p>&nbsp;</p>
        <div class="container">
            <div class="text__bot">
                <p>
                ご登録ありがとうございます<br>
                さっそくプロフィールを設定してみましょう。
                </p>
                <p>
                    <a href="{% url 'web:profile' %}">プロフィール編集へ</a>
                </p>
            </div>

　　　　　　　　　 </div>
　　　　　　　　　 </div>
　　　　　　　　　 </div>



</div>
        <script src="{% static 'new_static/js/lightbox.min.js' %}"></script>
        <script src="{% static 'new_static/js/slick.min.js' %}"></script>
        <script src="{% static 'new_static/js/lightbox-video.js' %}"></script>
        <script src="{% static 'new_static/js/index.js' %}"></script>

</body>

</html>
