{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>プライバシーポリシー│LEAN!─SNSを使っている方、インフルエンサー・タレント必見。あなたのオフィシャルプロフィールが作れるシステムです</title>
    <meta name="description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="LEAN!プライバシーポリシー"/>
    <meta property="og:description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。"/>
    <meta property="og:image" content="{{ OGP_URL }}">
    <meta property="og:image:alt" content="LEAN!ogp">
    <meta property="og:url" content="https://lea-n.com/signup/" />
    <meta property="og:site_name" content="LEAN!"/>
    <!-- facebook -->
    <meta property="article:author" content="https://www.facebook.com/leanjapan/">
    <meta property="fb:app_id" content="680771545664378"/>
    <meta property="fb:admins" content="680771545664378"/>
    <!-- twitter card -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@japan_lean"/>
    <meta name="twitter:url" content="https://lea-n.com/signup/" />
    <meta name="twitter:title" content="LEAN!プライバシーポリシー"/>
    <meta name="twitter:description" content="LEAN!はSNSを使っている方のオフィシャルプロフィールを１分登録にて作成できる無料サービスです。SNSを使うすべての人に。"/>
    <meta name="twitter:image:src" content="{{ OGP_URL }}"/>
    <meta name="twitter:site" content="LEAN!"/>
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="{% static '/css/site_structure.css' %}">
    <link rel="stylesheet" href="{% static '/css/site_content.css' %}">
    <link rel="stylesheet" href="{% static '/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/slick.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% include "parts/ga.html" with GA_TAG=GA_TAG %}
</head>

<body class="listtype">
<div class="header__top">
    <div class="container">
        <!--<ul class="tabs">
          <li class="tab__link" data-tab="tab-1"><a href="listofusers_menuclose.html">PICK UP</a></li>
          <li class="tab__link current" data-tab="tab-2">新着</li>
          <li class="tab__link" data-tab="tab-3"><a href="listofusers_all.html">ALL</a></li>
        </ul>-->
        <div class="number-members">
            <div class="number-members-wrapp">
                <div class="text">
                    プライバシーポリシー
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="text__top">
        </div>
        <div class="text__bot">
            <p>このプライバシーポリシーは、株式会社リーンジャパン（以下、「当社」といいます。）が提供するサービス（以下、「LEAN!」といいます。）における、<br/>
                登録ユーザー様の皆さま（以下、「ユーザー様」といいます。）の個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。<br/>
                <br/>
            <p style="margin:30px 0;">
            <div class="text__top">
                取得される情報について<br/>
            </div>
            当社は、利用者情報を、アプリケーション経由で自動的に取得およびユーザー様の手入力により登録していただくことにより取得します。<br/>
            Facebook、LINE、Google、Twitterなど、その他の第三者サービスで使用しているアカウントをLEAN!にリンクさせた場合、LEAN!はユーザー様のアカウントの登録情報を使用します。これは、リンク先アカウントのプライバシーポリシーや設定に依存します。<br/>
            当社が本アプリーケションにおいて取得する利用者情報は以下の通りです。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                利用する利用者情報<br/>
            </div>
            氏名、メールアドレス、写真、動画、Instagram、YouTube、TwitterなどのSNS情報と投稿内容、手入力によって入力された外部リンク、LEAN!に提供するその他の情報など、特定の情報を自分の意思で公開します。<br/>
            また、ユーザー様は出身地、身長、活動ジャンル、生年月日、性別、銀行口座、言語選択など、ユーザー様個人に関するその他の情報を　LEAN!に共有することも選択できます。<br/>
            これらはオフィシャルプロフィール上では非公開の設定となり、LEAN!登録ユーザー様にお仕事を依頼する目的のため、当社と契約を交わした広告主、LEAN!スポンサー、サードパーティなどに公開されます。<br/>
            また、LEAN!を使用する際には、たとえ見ているだけであっても、使用している端末の種類やIPアドレスといったユーザー様の一部の個人情報がLEAN!に送信されます。<br/>
            LEAN!は、これらの情報を、<br/>
            <ul>
                <li>・LEAN!サービス提供のため</li>
                <li>・ユーザー様に関連のある広告を表示するため</li>
                <li>・ユーザー様にあった仕事情報を表示するため</li>
                <li>・電子メールによる各種情報配信のため</li>
                <li>・当社サービスの改善、新規開発のための分析のため</li>
                <li>・その他、ユーザー様の同意を得た利用目的のため</li>
                <li>・ユーザー様からのお問い合わせに回答するため（本人確認を行うことを含む）</li>
            </ul>
            上記の目的のために利用します。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                デバイス情報<br/>
            </div>
            ウェブサイト、モバイルアプリケーション、その他インターネットサービスを利用すると、自動的に特定のインターネットおよび電子的ネットワークアクティビティの情報が作成、記録されるようになっています。これはLEAN!のサービスを利用する場合も同様で、LEAN!が収集する情報の種類は次のようなものです。<br/>
            <ul>
                <li>・ログデータ</li>
                <li>・クッキー</li>
                <li>・IPアドレス</li>
                <li>・リンク</li>
            </ul>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                LEAN!と広告主の情報の共有<br/>
            </div>
            当社は、広告や仕事情報などの利用者に表示するスポンサーコンテンツを選定およびパーソナライズする目的で、ユーザー様に関して当社が保有する、ユーザー様の情報を利用します。<br/>
            また、ユーザー様自身が設定できる広告のアクティビティ、アナリティクス、報酬についても、当社と広告主様などのパートナーがサービス利用状況を測定し、どのような閲覧者がいて、どのように反応しているかを分析する目的で使用します。<br/>
            利用するユーザー様情報においてユーザー様がとれる選択肢については、利用する利用者情報の項をご確認ください。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                当サイトに掲載されている広告について<br/>
            </div>
            当サイトでは、第三者配信の広告サービス（Googleアドセンス）を利用しています。<br/>
            このような広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報 『Cookie』(氏名、住所、メール アドレス、電話番号は含まれません)
            を使用することがあります。<br/>
            またGoogleアドセンスに関して、このプロセスの詳細やこのような情報が広告配信事業者に使用されないようにする方法については、<a
                href="https://policies.google.com/technologies/ads?hl=ja" target="_blank">こちら</a>をクリックしてください。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                当サイトが使用しているアクセス解析ツールについて<br/>
            </div>
            当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br/>
            このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。<br/>
            このトラフィックデータは匿名で収集されており、個人を特定するものではありません。<br/>
            この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。<br/>
            この規約に関して、詳しくは<a href="https://marketingplatform.google.com/about/analytics/terms/jp/"
                            target="_blank">こちら</a>、または<a
                href="https://policies.google.com/technologies/partner-sites?hl=ja"
                target="_blank">こちら</a>をクリックしてください。<br/>
            </p>
            <p style="margin:30px 0;">
            <div class="text__top">
                その他の第三者への情報の開示<br/>
            </div>
            当社は，次に掲げる場合を除いて，あらかじめユーザー様の同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。<br/>
            <ul>
                <li>人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき</li>
                公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき<br/>
                国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br/>
                予め次の事項を告知あるいは公表し，かつ当社が個人情報保護委員会に届出をしたとき<br/>
                利用目的に第三者への提供を含むこと<br/>
                第三者に提供されるデータの項目<br/>
                第三者への提供の手段または方法<br/>
                本人の求めに応じて個人情報の第三者への提供を停止すること<br/>
                本人の求めを受け付ける方法<br/>
                前項の定めにかかわらず，次に掲げる場合には，当該情報の提供先は第三者に該当しないものとします。<br/>
                当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合<br/>
                合併その他の事由による事業の承継に伴って個人情報が提供される場合<br/>
                個人情報を特定の者との間で共同して利用する場合であって，その旨並びに共同して利用される個人情報の項目，共同して利用する者の範囲，利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について，あらかじめ本人に通知し，または本人が容易に知り得る状態に置いた場合<br/>
                </p>
                <p style="margin:30px 0;">
                <div class="text__top">
                    取得される情報について<br/>
                </div>
                新規ユーザー登録時に利用規約・プライバシーポリシーについて通知・同意を得ます。<br/>
                ボトムナビゲーションメニュー内にて確認もできます。<br/>
                本サービスからリンクする当社以外の事業者の外部URLアドレス、または個人のURLアドレス等における利用者情報の取扱いについては、当社は責任を負いかねます。<br/>
                </p>
                <p style="margin:30px 0;">
                <div class="text__top">
                    自身の情報へのアクセスまたは修正<br/>
                </div>
                LEAN!アカウントをお持ちの方は、自身のアカウントに紐づけられた個人情報にアクセスし、それらを修正、削除、または変更するためのツールおよびアカウント設定ページが提供されます。<br/>
                </p>
                <p style="margin:30px 0;">
                <div class="text__top">
                    個人情報の利用停止など<br/>
                </div>
                当社は、本人から個人情報が利用目的の範囲を超えて取り扱われているという理由、または不正の手段により取得されたものであるという理由により、その利用の停止または消去（以下、「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行います。<br/>
                前項の調査結果に基づき、その請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の利用停止等を行います。<br/>
                当社は、前項の規定に基づき利用停止等を行った場合、または利用停止等を行わない旨の決定をしたときは、遅滞なく、これをユーザー様に通知します。<br/>
                </p>
                <p style="margin:30px 0;">
                <div class="text__top">
                    利用目的の変更<br/>
                </div>
                当社は、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。<br/>
                利用目的の変更を行った場合には、変更後の目的について、当社所定の方法により、ユーザー様に通知し、または本ウェブサイト上に公表するものとします。<br/>
                </p>
                <p style="margin:30px 0;">
                <div class="text__top">
                    本プライバシーポリシーの変更<br/>
                </div>
                本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザー様に通知することなく、変更することができるものとします。<br/>
                当社が別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。<br/>
                </p>
                <p style="margin:30px 0;">
                <div class="text__top">
                    取得される情報について<br/>
                </div>
                本ポリシーに関するお問い合わせは、下記の窓口までお願いいたします。<br/>
                住所：〒104-0061 東京都中央区銀座8-17-5<br/>
                社名：株式会社リーンジャパン<br/>
                担当部署：リーンジャパンお問い合わせ窓口<br/>
                Eメールアドレス：info@leanjapan.jp<br/>
                </p>
                <p style="margin:30px 0;">
                    以上<br/>
                </p>
            </ul>
        </div>

    </div>
</div>

{% include 'parts/menu.html' %}
<script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/js/lightbox.min.js' %}"></script>
<script src="{% static '/js/slick.min.js' %}"></script>
<script src="{% static '/js/lightbox-video.js' %}"></script>
<script src="{% static '/js/clipboard-polyfill.js' %}"></script>
<script src="{% static '/js/clipboard.min.js' %}"></script>
<script src="{% static '/js/index.js' %}"></script>
<script src="{% static '/js/common.js' %}{{ RES_VER }}"></script>

</body>

</html>
